body { 
    display: flex;
    flex-direction: column;
  }


  .content {
    background-color: #ffffff;
    
    min-height: 77.6vh;
    
}

  footer {
    padding: 2em 0; }
  
  .footer-07 {
    background: #004a87; }

    
.copyright{
  color: #fff;
}