body { 
    display: flex;
    flex-direction: column;
  }


  .content {
    background: rgb(247, 247, 247);
    padding: 4rem 4rem;
    min-height: 77.6vh;
    
}

  footer {
    padding: 2em 0; }
  
  .footer-07 {
    background: #004a87; }

    
.copyright{
  color: #fff;
}

.image-tam{
  width: 100% !important;
  height: 80% !important;
}

.img-responsive{
  margin-top: 20px;
}


@media (max-width: 730px){


.img-responsive{
  width: 70%;
}

.logo{
  width: 15%;
}



}